.header-view{
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0px 20px;
  background: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.app-logo{
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bolder;
  margin: 0 auto;
}

.first-letter{
  color: #00ff99
}
.second-letter{
  color: #00cbff
}
.third-letter{
  color: #fff35c
}
.fourth-letter{
  color: #fe6667
}
.fifth-letter{
  color: #9933ff
}